/*first panel = login and register*/

#login_register {
    position: absolute;
}
body{
    background-color: #f0f4fa;
}
#login {
    float: left;
    margin-left: 200px;
    background-color: #f0f4fa;
    width: 500px;
    height: 500px;
    margin-top: 30px;
}
#register {
    float: left;
    background-color: #f0f4fa;
    width: 500px;
    height: 500px;
    position: relative;
    margin-top: 30px;
}
.headerDiv {
    text-align: center;
    font-family: Calibri;
    color: #02082e;
}
.attributeDiv {
    margin-left: 60px;
    margin-top: 5px;
    float: left;
    line-height: 2.0;
}
.attributeDiv p {
    margin: 5px;
}
.hiddenLabel {
    margin-left: 70px;
    position: absolute;
    margin-top: -15px;
}
.textBoxDiv {
    float: left;
    width: 150px;
    margin-left: 5px;
    line-height: 1.8;
    margin-top: 10px;
}

.buttons {
    width: 200px;
    margin-left: 200px;
    float: left;
}
#loginButton {
    margin-left: 55px;

}
#registerButton {
    margin-left: 95px;
}