<!DOCTYPE html>
<html lang="pl" xmlns:sf="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../static/css/loginPanel.css" th:href="@{/css/loginPanel.css}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
    /*
    $('#passwordBox_r, #confirmPasswordBox').on('keyup', function () {
        if ($('#passwordBox_r').val() == $('#confirmPasswordBox').val()) {
            $('#message').html('Matching').css('color', 'green');
        } else
            $('#message').html('Not Matching').css('color', 'red');
    }); */

    function check_pass() {
        if (document.getElementById('passwordBox_r').value ==
            document.getElementById('confirmPasswordBox').value) {
            document.getElementById('registerButton').disabled = false;
        } else {
            document.getElementById('registerButton').disabled = true;
        }
    }
</script>

<script>
    var $adduser = $('#getDataUser').serialize();
   // console.log($("#textBoxDiv").serialize());
</script>
<div id="login_register" >

    <div id="login">


            <div class="headerDiv">
                <h1>LOGIN</h1>
            </div>
      <!--      <div class="hiddenLabel" id="incorrect_login_label_in_login">
                <p style="color: #f50000">Incorrect login or password</p>
            </div>
            <div class="hiddenLabel" id="disabled_account_label">
                <p style="color: #f50000">Your account is disabled</p>
            </div> -->
            <div class="attributeDiv">
                <p>Login:</p>
                <p>Password: </p>
            </div>
        <form  action="#" th:action="@{/start}" th:object="${user}" method="post" >
            <div class="textBoxDiv">
                <input type=text id="loginBox" name="loginBox" th:field="*{login}" required />
                <input type=password id="Password" name="passwordBox" th:field="*{password}"  required/>

            </div>

            <div class="buttons">
                <button id="loginButton" type=submit name="loginParam" th:text="Login" />
            </div>
        </form>
    </div>


    <div id="register">
        <div class="headerDiv">
            <h1>REGISTER</h1>
        </div>
     <!--   <div class="hiddenLabel" id="pass_login_exists_label">
            <p style="color: #f50000">User already exists</p>
        </div>
        <div class="hiddenLabel" id="created_account_label">
            <p style="color: #004d0b">Account has been successfully created</p>
        </div> -->

        <div class="attributeDiv">
            <p>Login:</p>
            <p>Email:</p>
            <p>Phone number:</p>
            <p>Password:</p>
            <p>Confirm password:</p>
        </div>
        <form  action="#" th:action="@{/userapi/user}"  method="post" >
        <div class="textBoxDiv">
            <form id="getDataUser">
            <input type=text name="userID"  required/>
            <input type=text name="emailBox" required/>
            <input type=text name="phoneBox" required/>
            <input type=password  name="passwordBox_r" id="passwordBox_r" onchange='check_pass();' required/>
            </form>
            <input type=password  name="confirmPasswordBox" id="confirmPasswordBox" onchange='check_pass();' required/>
        </div>


        <div class="buttons">
            <button type=submit id="registerButton" name="registerParam" th:text="Register"  />
        </div>
        </form>

    </div>

</div>

</body>
</html>
