<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Order Pizza</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="../static/css/user.css" th:href="@{/css/user.css}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"> </script>
<script src="jquery.miranda.min.js"></script>
<script>

    $(function() {
        $.getJSON('http://localhost:8080/pizza/allpizza', function(data) {
            $.each(data, function(i, f) {
                var tblRow = "<tr>" + "<td>" + f.pizzaname + "</td>" +
                    "<td>" + f.ingredients + "</td>" + "<td>" + f.price + "</td>" + "<td>" + "<input type='text' name='quantity' onchange='setPrice()' value='0'>" +"</td>" + "</tr>"
                $(tblRow).appendTo("#pizzaData tbody");
            });
        });
    });

</script>
<script>
    function setPrice() {
        var table = document.getElementById("pizzaBodyData");
        //  var rows = document.getElementsByTagName("tbody")[0].rows;

        var price = 0.0;
        if (table.rows.length != null) {
            var rowLenght = table.rows.length;
            for (var i = 0; i < rowLenght; i++) {
                var cells = table.rows.item(i).cells;
                var priceTd = cells.item(2).innerText;
                var quantity = cells.item(3).getElementsByTagName("input")[0].value;
                // w przypadku pustych pol
                if(priceTd == "") priceTd = 0.0;
                if(quantity == "") quantity = 0;
                price += parseFloat(priceTd) * parseInt(quantity);
                //nie dziala cos to  - do 2 miejsc po przecinku
                price.toFixed(2);
                document.getElementById("priceLabel").innerText = price.toString();

            }


        }
    }

</script>


<div id="header"><h1>Order Pizza:</h1></div>
<div id="datauser"><p th:text="'login: ' + ${user.login}" />
    <p th:text="'Password: ' + ${user.password}" /></div>

<div id="container">
    <div id="choosePizza">
        <h3>Wybierz pizze: </h3>
        <div id="pizzaTableContainer" class="w3-table w3-bordered w3-striped">
            <table id="pizzaData">
                <thead>
                <tr class="w3-green">
                    <th>Nazwa pizzy</th>
                    <th>Składniki</th>
                    <th>Cena</th>
                    <th>Ilość</th>
                </tr>

                </thead>
                <tbody id="pizzaBodyData" class="w3-white">

                </tbody>
            </table>


        </div>

    </div>
    <div id="typeAddress">
        <h3>Podaj adres:</h3>
        <div id="addressAttributeDiv">
            <p> Ulica:</p>
            <p>Nr domu/mieszkania: </p>
            <p>Osiedle: </p>
            <p>Miasto: </p>
        </div>
        <div id="addressBoxDiv">
            <input type="text" name="addressBox" >
            <input type="text" name="houseNrBox">
            <input type="text" name="regionBox">
            <input type="text" name="cityBox">
        </div>
    </div>
    <div id="payment">
        <h3>Sposób płatności: </h3>
        <p> <input type="radio" name="paymentType" CHECKED> Z góry(Karta, szybki przelew) </p>
        <p> <input type="radio" name="paymentType" > Przy odbiorze(gotówka) </p>
    </div>
    <div id="price">
        Łączny koszt: <label name="priceLabel" id="priceLabel">0</label>  zł
    </div>
    <div id="orderButton">
        <button type="submit" name="orderButton" >Zamawiam</button>
    </div>


</div>


<div id="Footer"><a href="/start">Idz do panelu logowania</a></div>


</body>
</html>
